---
layout: default
---

    <h2 class='tab'>Blog</h2>
    <a id="feed" class="icon-feed" href="/feed.xml" title="RSS feed">
      <span>RSS feed</span>
    </a>
    <ul id="posts">
      {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url }}">
          <div class="thumbnail"{% if post.image %} style="background-image: url(/images/{{ post.image }})"{% endif %}>
          </div>
          <h3>{{ post.title }}</h3>
          <time>{{ post.date | date: "%Y-%m-%d" }}</time>
          <p>{{ post.description }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

{% include paginator.html %}
