---
layout: default
title: ほとラボ。
---

    <h2 class='tab'>Blog</h2>
    <a id="feed" href="/feed.xml" title="RSS feed">
      <span>RSS feed</span>
    </a>
    <ul id="posts">
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">
          <div class="thumbnail">{% if post.image %}
            <img src="/images/{{ post.image }}" />{% endif %}
          </div>
          <h3>{{ post.title }}</h3>
          <time>{{ post.date | date: "%Y-%m-%d" }}</time>
          <p>{{ post.description }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
