
@font-face {
  font-family: 'やさしさゴシック';
  src: url('fonts/yasashisa.woff');
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?du66iu');
  src:url('fonts/icomoon.eot?#iefixdu66iu')   format('embedded-opentype'),
      url('fonts/icomoon.woff?du66iu')        format('woff'),
      url('fonts/icomoon.ttf?du66iu')         format('truetype'),
      url('fonts/icomoon.svg?du66iu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:link, a:visited { color: brown; }
a:hover, a:active { color: orange; }

body {
  color: white;
  background-color: #9dd16d;
  font-family: sans-serif;
}

.container {
  width: 80%;
  padding: 0 10%;
}

#header h1 {
  font-family: 'やさしさゴシック';
  font-size: 4em;
  padding: 1.5em 0;
  background: url(header.png) no-repeat right bottom;
}

#header h1 a {
  color: white;
  text-decoration: none;
}

#main {
  color: gray;
  background-color: white;
  padding-bottom: 4em;
}

#main .tab {
  display: inline-block;
  font-family: 'やさしさゴシック';
  font-size: 1.5em;
  padding: 0 .7em .5em;
  vertical-align: top;
  color: white;
  background-color: #9dd16d;
}

#feed {
  display: inline-block;
  margin: .3em 0 0 .1em;
  font-size: 1.7em;
  color: gray;
  text-decoration: none;
}

#feed:before {
  content: "\ea94";
}

#feed:hover,
#feed:active {
  color: orange;
}

#feed span {
  display: none;
}

#posts {
  padding-top: 2em;
}

#posts li {
  clear: left;
}

#posts li a {
  padding: 1em;
  display: block;
  text-decoration: none;
}

#posts li a:hover,
#posts li a:active {
  background-color: whitesmoke;
}

#posts li a:after {
  content: "";
  display: block;
  clear: left;
}

#posts .thumbnail {
  width: 10em;
  height: 10em;
  line-height: 10em;
  float: left;
  margin-right: 1em;
  background-size: cover;
  background-position: center center;
}

#posts h3 {
  color: #9dd16d;
}

#posts time,
#posts p {
  color: gray;
}

.pagination {
  text-align: center;
  margin-top: 4em;
}

.pagination > * {
  padding: .5em;
}

.pagination span {
}

.pagination span.current {
  color: white;
  background-color: #9dd16d;
}

.pagination a {
  text-decoration: none;
  color: white;
  background-color: #ccc;
}

.pagination a:hover,
.pagination a:active {
  background-color: #ddd;
}

#footer {
  padding: 4em 0;
  position: relative;
}

#footer h1 {
  font-size: 3em;
  font-family: 'やさしさゴシック';
  margin-bottom: .5em;
}

#footer #icon {
  position: absolute;
  border: 6px white solid;
}

#footer #profile {
  margin-left: 160px;
}

#sns {
  display: inline-block;
  font-size: .7em;
}

#sns a {
  color: white;
  text-decoration: none;
}

#sns a:hover,
#sns a:active {
  text-shadow: 0 0 .3em white;
}

#sns a span {
  display: none;
}

#sns .twitter:before {
  content: "\ea91";
}
#sns a.twitter:hover,
#sns a.twitter:active {
  color: #55acee;
}

#sns .facebook:before {
  content: "\ea8d";
}
#sns a.facebook:hover,
#sns a.facebook:active {
  color: #3b5999;
}

#sns .github:before {
  content: "\eab1";
}
#sns a.github:hover,
#sns a.github:active {
  color: black;
}

@media screen and (max-width: 768px){
  .container {
    width: 90%;
    padding: 0 5%;
  }

  #header h1 {
    font-size: 3em;
    background: none;
  }

  #posts li a {
    padding: 1em 0;
  }

  #posts .thumbnail {
    display: none;
  }
/*
  #posts li a:before {
    content: "\A";
    white-space: pre;
  }
*/

  #footer #icon {
    display: none;
  }

  #footer #profile {
    margin-left: 0;
  }
}
