
@font-face {
  font-family: 'やさしさゴシック';
  src: url('yasashisa.woff');
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:link, a:visited { color: brown; }
a:hover, a:active { color: orange; }

body {
  color: #fff;
  background-color: #9dd16d;
  font-family: sans-serif;
}

.container {
  width: 80%;
  padding: 0 10%;
}

#header h1 {
  font-family: 'やさしさゴシック';
  font-size: 400%;
  padding: 1.5em 0;
  background: url(header.png) no-repeat right bottom;
}

#header h1 a {
  color: #fff;
  text-decoration: none;
}

#main {
  color: #888;
  background-color: #fff;
  padding-bottom: 4em;
}

#main .tab {
  display: inline-block;
  font-family: 'やさしさゴシック';
  font-size: 150%;
  padding: 0 .7em .5em;
  vertical-align: top;
  color: #fff;
  background-color: #9dd16d;
}

#feed {
  display: inline-block;
  margin: 10px 0 0 5px;
  height: 25px;
  width: 25px;
  background-image: url(feed.png);
}

#feed:hover {
  background-position: bottom;
}

#feed span {
  display: none;
}

#posts {
  padding-top: 2em;
}

#posts li {
  clear: left;
}

#posts li a {
  padding: 1em;
  display: block;
  text-decoration: none;
}

#posts li a:hover {
  background-color: #f9f9f9;
}

#posts li a:after {
  content: "";
  display: block;
  clear: left;
}

#posts .thumbnail {
  width: 10em;
  height: 10em;
  line-height: 10em;
  float: left;
  margin-right: 1em;
  background-size: cover;
  background-position: center center;
}

#posts h3 {
  color: #9DD16D;
}

#posts time,
#posts p {
  color: #888;
}

.pagination {
  text-align: center;
  margin-top: 4em;
}

.pagination > * {
  padding: .5em;
}

.pagination span {
}

.pagination span.current {
  color: #fff;
  background-color: #9DD16D;
}

.pagination a {
  text-decoration: none;
  color: #fff;
  background-color: #ccc;
}

.pagination a:hover {
  background-color: #ddd;
}

#footer {
  padding: 4em 0;
  position: relative;
}

#footer h1 {
  font-size: 300%;
  font-family: 'やさしさゴシック';
  margin-bottom: .5em;
}

#footer #icon {
  position: absolute;
  border: 6px #fff solid;
}

#footer #profile {
  margin-left: 160px;
}

#sns {
  font-size: medium;
  vertical-align: bottom;
  display: inline-block;
}

#sns a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(social.png);
}

#sns a span {
  display: none;
}

#sns .twitter {
  background-position: left top;
}
#sns a.twitter:hover,
#sns a.twitter:active {
  background-position: left bottom;
}

#sns .facebook {
  background-position: center top;
}
#sns a.facebook:hover,
#sns a.facebook:active {
  background-position: center bottom;
}

#sns .github {
  background-position: right top;
}
#sns a.github:hover,
#sns a.github:active {
  background-position: right bottom;
}

@media screen and (max-width: 768px){
  .container {
    width: 90%;
    padding: 0 5%;
  }

  #header h1 {
    font-size: 300%;
    background: none;
  }

  #posts li a {
    padding: 1em 0;
  }

  #posts .thumbnail {
    display: none;
  }
/*
  #posts li a:before {
    content: "\A";
    white-space: pre;
  }
*/

  #footer #icon {
    display: none;
  }

  #footer #profile {
    margin-left: 0;
  }
}
