article header h1 {
  font-size: 200%;
  color: #9dd16d;
  margin: 1em 0;
}

section h2,
section h3 {
  margin-top: 2em;
}

section img {
  max-width: 100%;
  max-height: 360px;
}

section p {
  margin: 1em 0;
}

section hr {
  border: 0;
  height: 1px;
  background-color: #888;
  margin: 3em 0;
}

section blockquote {
  background-color: #f9f9f9;
  border-left: .4em #ccc solid;
  margin: 2em 0;
  padding: .5em 2em;
  position: relative;
  z-index: 1;
}

section blockquote:before {
  content: '”';
  color: #ccc;
  font-size: 600%;
  line-height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

section ul,
section ol {
  text-indent: -1.3em;
  padding-left: 2em;
}

section ul li:before {
  content: '◆';
  margin-right: .5em;
  color: #9dd16d;
  font-size: smaller;
}

section pre {
  color: #666;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  margin: 1em 0;
  padding: .5em .7em;
  overflow: scroll;
}

section code {
  border: 1px solid #eee;
  background-color: #f9f9f9;
  padding: 0 .2em;
}

section pre code {
  border: none;
  padding: 0;
}

section table {
  margin: 1em 0;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
}

section thead,
section th {
  background-color: #eee;
}

section th,
section td {
  border: 1px #ccc solid;
  padding: .5em;
}

.social {
  margin-top: 5em;
}

/* Facebookいいね！ボタンのズレ解消 */
.social .fb-like span {
  vertical-align: baseline !important;
}

/* Pocketボタンがブロック要素なのを解消 */
.social .pocket-btn {
  display: inline-block;
}

@media screen and (max-width: 768px){
  article header time {
    font-size: 100%;
  }

  article header h1 {
    font-size: 180%;
  }
}
