---
layout: default
ogp: true
---
    <article>
      <header>
        <time pubdate class='tab'>{{ page.date | date: "%Y-%m-%d" }}</time>
        <a id="feed" href="/feed.xml" title="RSS feed">
          <span>RSS feed</span>
        </a>
        <h1>{{ page.title }}</h1>
      </header>
      <section>

{{ content }}

      </section>

      <footer>
        <div class='social'>
          <a class='pocket-btn' data-pocket-label='pocket' data-pocket-count='vertical'></a>
          <a class='hatena-bookmark-button' data-hatena-bookmark-layout='vertical-balloon'></a>
          <a class='fb-like' data-layout='box_count'></a>
          <a class='twitter-share-button' data-lang='ja' data-count='vertical'></a>
        </div>
        <div id="disqus_thread"></div>
      </footer>

    </article>
